:root {
  --apple-green: #8db600; }

* {
  margin: 0;
  padding: 0; }

body {
  width: 320px;
  height: 568px; }

.control-panel {
  padding: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  background-image: url("../img/bg.png");
  background-repeat: repeat;
  background-color: transparent; }
  .wrapper .cell {
    height: 40px;
    text-align: center;
    color: var(--apple-green);
    border: 1px solid blue; }
    .wrapper .cell.sneak-body {
      background-color: green; }
    .wrapper .cell.cherry {
      background-image: url("../img/sprite.png");
      background-position: 0px -40px; }
    .wrapper .cell.egg {
      background-color: #FBFFB4; }

#test {
  background-color: #af3; }

.test {
  background-color: green;
  width: 100px;
  height: 100px; }

.snake {
  background-color: grey; }

.apple {
  background-color: green; }

/* rewrite bootstrap */
.custom-control-label {
  width: 100%; }
