@import "vars";

//Главные стили
* {
	margin: 0;
	padding: 0;
}
body {
  width: 320px;
  height: 568px;
  margin: 0 auto;
}
.control-panel {
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(16, 20px);
  background-image: url("../img/bg.png");
  background-repeat: repeat;
  background-color: transparent;
  .cell {
    height: 20px;
    text-align: center;
    color: var(--apple-green);

    &.snake-body {
      //background-image: url("../img/sprite.png");
      //background-position: -40px 0px;
      background-color: green;
      z-index: 99;
    }

    &.snake-tail {
      //background-image: url("../img/sprite.png");
      //background-position: 0px 0px;
    }
    &.snake-head {
      //background-image: url("../img/sprite.png");
      //background-position: 40px -40px;
    }
    &.cherry {
      background-image: url("../img/sprite.png");
      background-position: 0px -40px;
      //background-color: red;
    }
    &.egg {
      //background-image: url("../img/sprite.png");
      //background-position: 0px -40px;
      background-color: #FBFFB4;
    }
  }
}
#test {
	background-color: #af3;
}


.test {
	background-color: green;
	width: 100px;
	height: 100px;
}


.snake {
	background-color: grey;
}

.apple {
	background-color: green;
}

/* rewrite bootstrap */


.custom-control-label {
  width: 100%;
}

@import "media";